#container{
    width: 300px;
    height: 100px;
    background-color: rgb(218, 116, 116);
    display: block;
    margin: auto;
    border-radius: 10px;
}

#registered{
    display: block;
    margin: auto;
}

.text{
    font-size: 20px;
}

.button{
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 10px;
    color: rgb(39, 18, 18);
    font-family: Georgia;
}